*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: 'Outfit', sans-serif; background: #06060f; color: #f0eeff; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0e0e1c; }
::-webkit-scrollbar-thumb { background: #3d2d8a; border-radius: 3px; }
